body{
    background-color: white;
}

.calculator{
    border: 1px dotted red;
    max-width: 320px;
    padding: 10px;

    input{
        box-sizing: border-box;
        padding:10px;
        width:100%;
        text-align: right;
    }


    .row {
        // border: 1px dotted blue;
        margin:0;
        overflow:auto;
        padding-bottom: 5px;

        button{
            // border: 1px dotted green;
            border-radius: 5px;
            float:left;
            width:25%;
            padding:10px;
        }
    }

}
