<h1>Calculator Page</h1>

<div class="calculator">
    <div class="row">
        <input ng-model="display">
    </div>
    <div class="row">
        <button ng-click="setNumber(1)" class="btn btn-success">1</button>
        <button ng-click="setNumber(2)" class="btn btn-success">2</button>
        <button ng-click="setNumber(3)" class="btn btn-success">3</button>
        <button ng-click="setNumber(0)" class="btn btn-success">0</button>
    </div>
    <div class="row">
        <button ng-click="setNumber(4)" class="btn btn-success">4</button>
        <button ng-click="setNumber(5)" class="btn btn-success">5</button>
        <button ng-click="setNumber(6)" class="btn btn-success">6</button>
        <button ng-click="clearDisplay()" class="btn btn-primary">cl</button>
    </div>
    <div class="row">
        <button ng-click="setNumber(7)" class="btn btn-success">7</button>
        <button ng-click="setNumber(8)" class="btn btn-success">8</button>
        <button ng-click="setNumber(9)" class="btn btn-success">9</button>
        <button ng-click="calculate()" class="btn btn-primary">=</button>
    </div>
    <div class="row">
        <button ng-click="setOperator('+')" class="btn btn-primary">+</button>
        <button ng-click="setOperator('-')" class="btn btn-primary">-</button>
        <button ng-click="setOperator('x')" class="btn btn-primary">x</button>
        <button ng-click="setOperator('/')" class="btn btn-primary">/</button>
    </div>
</div>
